<!DOCTYPE html>
	<html>
		<body bgcolor="white">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				div.absolute {
				position: absolute;
    				top: 10px;
				right: 100px;
    				width: 200px;
    				height: 100px;
    				
					}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	    			<div class="absolute">
				<!--<img src="https://cloud.githubusercontent.com/assets/14129754/10080753/0ea63260-630f-11e5-89a9-f1f4842fe781.jpg" ALIGN=”right” />-->
				</div>
	    			<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Projects">Projects</a></li>
	        		<li><a href="https://drive.google.com/file/d/0BwG8RFrJ8zgVUVJZdDhwVnl6aWs/view?usp=sharing" target="_blank">CV</a></li>
	        		<!--<li><a href="/feedback_form">Contact Me</a></li>-->
	        		<!--<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
